<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>{{name}}</p>
    <img class="portrait" src="https://scx2.b-cdn.net/gfx/news/hires/2019/3-robot.jpg">
    </div>

    {{>footer}}
</body>
    
</html>